@model role_topMVC.ViewModels.PacoteViewModel
<main>
        <h2>paga ai!</h2>
        <form method="POST" action='@Url.Action("Registrar","Pacote")'>
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email"value="@Model.cliente.Email"name="email" />
            </div>
        <div>
                <label for="senha">senha</label>
                <br />
                <input id="senha" type="password"value="@Model.cliente.Senha"name="senha" />
            </div>

            <div>
                <label for="numeroCartao">numero do cartao</label>
                <br />
                <input id="numeroCartao" type="numeroCartao" maxlength="16"value="@Model.cliente."name = "numeroCartao" />
            </div>

            <div>
                <label for="senha">senha do cartao</label>
                <br />
                <input id="senhaCartao" type="password" maxlength="12"value="@Model.cliente."name="senhaCartao" />
            </div>
            <div>
                    <label for="cpf-cnpj">cpf ou cnpj</label>
                    <br />
                    <input id="cpf-cnpj" type="cpf-cnpj" maxlength="11" value="@Model.cliente.Cpf" name="cpf" />
                </div>
            <div class="field">
                <div>
                    <label for="contrato">escolha o seu Pacote e contrate</label>
                    <select id="contrato" name="contrato" required>
                        <option value="" disabled selected>Selecione</option>
                        @foreach(var h in Model.Contratos){
                        
                            <option value=@h.Nome>@h.Nome por @h.Preco</option>
                        }
                    </select>
                </div>
            </div>
            <tr>
                <label for="dataContrato">agende seu dia</label>
            </tr>
            <input id="dataContrato" type="date" maxlength="20" minlength="3"name="dataContrato" />

            <input type="submit" value="efetuar pagamento!" />
        </form>

    </main>

 



   
     <main>
        <h2>cancelar pagamento</h2>
        <form method="GET" action="index.html">

             <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" />
            </div>
        <div>
                <label for="senha">senha</label>
                <br />
                <input id="senha" type="password" />
            </div>
            <div>
                <label for="numero do cartao">Numero do cartao</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome"/>
            </div>

            <div>
                <label for="senha-do-cartao">senha do cartao</label>
                <br />
                <input id="senha-do-cartao" type="password" maxlength="20" minlength="3" name="endereco" />
            </div>

            <div>
                <label for="cpf-ou-cnpj">cpf ou cnpj</label>
                <br />
                <input id="cpf-ou-cnpj" type="cpf ou cnpj" />
            </div>
           

            <input type="submit" value="cancelar!" />
        
            </form>
     </main>
            
